
[Desktop Entry]
Version=1.0
Type=Application
Name=Fakefox
Comment=A small descriptive blurb about this application.
Icon=application-default-icon
Exec=firefox
Path=
Terminal=false
NoDisplay=false
StartupNotify=false
Categories=Education
