include AUTHORS ChangeLog COPYING menulibre.1 menulibre.desktop.in README
include bin/*
recursive-include data *.svg *.ui
recursive-include menulibre *.py
recursive-include menulibre_lib *.py
recursive-include po *.po *.in
